.header {
  overflow: hidden;
  background-color: #f1f1f1;
  margin: 10px 20px 30px 40px;
}

li {
display: inline;
  margin: 10px 20px 30px 40px;
}

.col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
